<div class="container">
  <div class="row">
    <div class="col">
      <h1>{{titulo}}</h1>
      <section>
        <form novalidate [formGroup]="procForm" (ngSubmit)="aoSalvar()">
          <fieldset>
            <div class="form-group">
              <label>Nome</label>
              <input type="text"
                     class="form-control"
                     formControlName="nome">
              <div *ngIf="procForm.controls.nome.errors && procForm.controls.nome.touched">
                <div *ngIf="procForm.controls.nome.errors.required" class="alert alert-danger">
                  Nome é obrigatório!
                </div>
              </div>
            </div>
 
            <div class="form-group">
              <label>Procuradoria</label>
              <input type="text"
                     class="form-control"
                     formControlName="procuradoria">

              <div *ngIf="procForm.controls.procuradoria.errors && procForm.controls.procuradoria.touched">
                <div *ngIf="procForm.controls.procuradoria.errors.required" class="alert alert-danger">
                  Procuradoria é obrigatório!
                </div>
              </div>
            </div>
          </fieldset>
 
          <fieldset>
            <div class="form-group">
              <label>Email</label>
              <input type="email"
                    class="form-control"
                    formControlName="email">
              <div *ngIf="procForm.controls.email.errors && procForm.controls.email.touched">
                <div *ngIf="procForm.controls.email.errors.required" class="alert alert-danger">
                 Email é obrigatório!
                </div>
                <div *ngIf="!procForm.controls.email.errors.required && procForm.controls.email.errors.email" class="alert alert-danger">
                    Email inválido!
                   </div>
              </div>
            </div>

            <div class="form-group">
              <label>Celular</label>
              <input type="text"
                    class="form-control"
                    formControlName="celular">
            </div>
          </fieldset>
 
          <button type="submit" class="btn btn-primary" [disabled]="!procForm.valid" >Salvar</button>
          <button type="button" class="btn btn-warning" (click)="procuradorPage()">Cancelar</button>
          <pre>{{procForm.value | json}}</pre>
        </form>
      </section>
    </div>
  </div>
